@charset "UTF-8";

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.conteiner-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--cor-principal);
    color: var(--cor-body-claro);
    position: fixed;
    width: 100%;
}
.conteiner-2>img{
    
    margin-left: 60px;
}
.conteiner-2>h1{
    margin-top: 5px;
    margin-left: -76px;
}
.conteiner-2>ul,li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin: 0 40px;
    margin-right: 80px;
    text-decoration: none;
}
main{
    flex-grow: 1;
}
main>h1{
    margin-top: 15px;
    margin-left: 430px;
    margin-right: 526px;
    padding: 5px;
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
}
.cont-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}
.proj-1>div>h1{
    text-align: center;
}
.proj-1>p{
    width: 200px;
    text-align: justify;
    font-style: italic;
    color: var(--cor-escuro);
}
.proj-2>div>h1{
    text-align: center;
}
.proj-2>p{
    width: 200px;
    text-align: justify;
    font-style: italic;
    color: var(--cor-escuro);
}
.proj-3>div>h1{
    text-align: center;
}
.proj-3>p{
    width: 200px;
    text-align: justify;
    font-style: italic;
    color: var(--cor-escuro);
}
.proj-1>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    border-radius: 8px;
    width: 300px;
}
.proj-1>div>img{
    margin-left: 70px;
    padding: 0;
}
.proj-1>div>h1{
    margin-right: 100px;
}
.proj-1>a>button{
    margin: auto;
    margin-left: 100px;
    width: 80px;
    height: 30px;
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    color: var(--cor-principal);
    font-weight: bolder;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    background-color: var(--cor-header);
}
.boas-vindas>h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}
.boas-vindas>p{
    text-align: justify;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
}
.boas-vindas>h1,p{
    width: 300px;
    margin: 20px 60px;
    padding: 10px;
    color: var(--cor-body-claro);
}
.imagem-1{
    margin-top: 80px;
}
footer{
    display: inline-block;
    background-color: var(--cor-principal);
    width: 100%;
}
footer>p{
    margin: auto;
    margin-left: 400px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-body-claro);
}
footer>img{
    margin: auto;
    margin-left: 350px;
    margin-right: -300px;
    padding: 10px;
}